{% comment %}
  <div style="border-bottom: 2px solid #ffffff;"
    class="sf-cart__item flex"
    data-index="{{ forloop.index }}"
    data-id="{{ item.key }}"
    data-product-id="{{- item.product_id -}}"
    data-cart-item
  >
{% endcomment %}
{% comment %} {% render 'cart-drawer-item', item: item %} {% endcomment %}
{% comment %} cart page pdp {% endcomment %}
<div
  class="scd-item cus-drawer-item"
  data-cart-item
  data-id="{{- item.key -}}"
  data-product-id="{{- item.product_id -}}"
  data-index="{{- forloop.index -}}"
>
  <div class="scd-item__inner flex items-start recenly_cart_pdp ship_cart_pdp">
    <div class="scd-item__image2">
      <a href="{{- item.url -}}" class="block" style="--aspect-ratio: {{- item.image.aspect_ratio | default: 0.75 -}}">
        {% if item.image != blank %}
          {{- item | img_url: '360x' | img_tag: item.title -}}
        {% else %}
          {{- 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' -}}
        {% endif %}
      </a>
      
    </div>
    <div class="scd-item__info">
      <a href="{{- item.url -}}" class="font-medium hover:underline cus_fonts_serif mob_fs_10">
        {{- item.product.title -}}
      </a>
      {%- unless item.product.has_only_default_variant -%}
        <div class="scd-item__variant mb-1">
          {%- for option in item.options_with_values -%}
            <p class="scd-item__variant-option fonts_source mob_fs_10">
              <span class="font-medium mob_fs_10">
                {{- option.name -}}
                :
              </span>
              {{- option.value -}}
            </p>
          {%- endfor -%}
          {% comment %}Properties{% endcomment %}
          {%- assign property_size = item.properties | size -%}
          {%- assign properties = 'template ' | split: ' ' -%}
          {%- if property_size > 0 -%}
            {%- assign properties = item.properties -%}
          {%- endif -%}
          {%- for p in properties -%}
            {%- assign property_first_char = p.first | slice: 0 -%}
            <p
              class="scd-item__variant-option {% if property_size == 0 or p.last == blank or property_first_char == '_' %}hidden{% endif %}"
              data-cart-item-property
            >
              <span class="sf-cart__item-label font-medium p-text" data-cart-item-property-name>{{ p.first }}: </span>
              {%- comment -%}
                Check if there was an uploaded file associated
              {%- endcomment -%}
              <span data-cart-item-property-value class="p-text-normal">
                {%- if p.last contains '/uploads/' -%}
                  <a href="{{ p.last }}" data-role="product-upload" class="underline" target="_blank">
                    {{- p.last | split: '/' | last -}}
                  </a>
                {%- else -%}
                  {{ p.last }}
                {%- endif -%}
              </span>
            </p>
          {%- endfor -%}
        </div>
      {%- endunless -%}
      <div class="flex items-center flexed_gap? shi_qty">
        {% comment %} <div><span class="cus-cart-title? text-sm sm:block fonts_source mob_fs_10">Qty:</span></div> {% endcomment %}
        <div class="scd-item__quantity flex justify-between rounded">
          <button class="scd-item__btn fonts_source" data-id="{{- item.key -}}" data-qty-change="dec">-</button>
          <input
            class="scd-item__qty_input w-9 text-center fonts_source mob_fs_10"
            type="number"
            name="updates[]"
            data-id="{{- item.key -}}"
            value="{{- item.quantity -}}"
            min="0"
          >
          <button class="scd-item__btn fonts_source" data-id="{{- item.key -}}" data-qty-change="inc">+</button>
        </div>
      </div>
    </div>
    <div class="recently_remove shi_remove">
      <button
        style="padding-bottom: 3px;"
        class="scd-item__remove my-2 fonts_source"
        data-id="{{- item.key -}}"
      >
        {{- 'cart.general.remove' | t -}}
      </button>

      <div class="recently_total sf-cart__table-col sf-cart__table-subtotal text-right md:block flexed_gap justi_end">
        {% comment %} <p class="cus-cart-title fonts_source" style="text-align: center;">Total:</p> {% endcomment %}
        <div class="sf-cart__item-discount-prices cus-cart-drawer-price{% unless item.original_line_price != item.final_line_price %} hidden{% endunless %}">
          <p class="sf-cart__item--regular-price cus-cart-drawer-price">
            <span class="visually-hidden">{{ 'cart.label.regular_total' | t }}</span>
            <s data-cart-item-original-price>{{ item.original_line_price | money }}</s>
          </p>
          <p class="sf-cart__item--final-price cus-cart-drawer-price">
            <span class="visually-hidden">{{ 'cart.label.discounted_total' | t }}</span>
            <span class="order-discount" data-cart-item-final-price>{{ item.final_line_price | money }}</span>
          </p>
        </div>

        <div
          {% if item.original_line_price != item.final_line_price %}
            class="hidden"
          {% endif %}
        >
          <span
            class=" scd-item__original_line_price cus-cart-drawer-price mob_fs_10 bolded fonts_source"
            data-cart-item-original-price
          >
            {{ item.original_line_price | money }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

