{% assign menu = mobile_menu %}
{% if mobile_menu == blank %}
  {% assign menu = main_menu %}
{% endif %}

<div
  style="--tw-bg-opacity: 0;"
  id="mySidenav"
  class="cus-mob-mega-menu sf-menu-wrapper sf-menu-wrapper-mobile hidden fixed z-[80] inset-0 transition-colors duration-300">

  <div class="sf-menu__content transition-transform -translate-x-full duration-300 md:w-[450px] z-50 bg-white text-black overflow-x-hidden h-full overflow-y-scroll">

    <div class="flex flex-col">
      <div class="sf-menu-content flex-grow flex flex-col justify-between transition-all opacity-0 opacity-100 duration-300">

        <div>

          {% comment %} <div class="cus-mega-menu-header">
          <img src="https://cdn.shopify.com/s/files/1/0611/3781/3724/files/cloud9-logo2-white.svg?v=1650627887">
          </div> {% endcomment %}

          <div class="w-full sf-menu-links cus-mob-menu-links">

            <section
              class="sf-collapsible cus-account-tabs-section{% if template == 'product' %} sf-product__section{% endif %}"
              data-section-type="sf-collapsible"
              data-section-id="{{ section.id }}">
              <div class="{{ st.container }}">
                <div class="prod__accordion mw_mob_menu">

                  <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4b cus_fonts_source" style="font-weight:600; font-size: 17px;">
                      <span class="link1"><a href="https://cloud9linens.com/collections/bedlinens">Bedlinens</a></span>
                    </div>
                    <div class="sf__accordion-content text-color-secondary">

                      <div class="pb-8 prose" style="color: #000;">

                        {% render 'categories',term:'Bedlinens' %}

                      </div>
                    </div>
                  </div>
             <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4b cus_fonts_source" style="font-weight:600; font-size: 17px;">
                      <span class="link1"><a href="https://cloud9linens.com/collections/bathlinens">BATHLINENS</a></span>
                    </div>
                    <div class="sf__accordion-content text-color-secondary">
                      <div class="pb-8 prose" style="color: #000;">
                        {% render 'categories',term:'BATHLINENS' %}

                      </div>
                    </div>
                  </div>
                  <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4 cus_fonts_source" style="font-weight:600; font-size: 17px;">
                      <span class="link1"><a href="https://cloud9linens.com/collections/bedroom-essentials">Bedroom Essentials</a></span>
                    </div>
                    <div class=" sf__accordion-content text-color-secondary">
                      <div class="pb-8 prose" style="color: #000;">
                        {% render 'categories',term:'Bedroom Essentials' %}
                      </div>
                    </div>
                  </div>

                 <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4b cus_fonts_source" style="font-weight:600; font-size: 17px;">
                     <span class="link1"><a href="https://cloud9linens.com/collections/home-deco">Home Deco</a></span>
                    </div>
                    <div class="sf__accordion-content text-color-secondary">
                      <div class="pb-8 prose" style="color: #000;">
                        {% render 'categories',term:'Home Deco' %}
                      </div>
                    </div>
                  </div>

                 <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4b cus_fonts_source" style="font-weight:600; font-size: 17px;">
                       <span class="link1"><a href="https://cloud9linens.com/collections/lounge-wear">Lounge Wear</a></span>
                    </div>
                    <div class="sf__accordion-content text-color-secondary">
                      <div class="pb-8 prose" style="color: #000;">
                        {% render 'categories',term:'Lounge Wear' %}
                      </div>
                    </div>
                  </div>

                   <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4b cus_fonts_source" style="font-weight:600; font-size: 17px;">
                      <span class="link1"><a href="https://cloud9linens.com/pages/sale">Sale</a></span> 
                    </div>
                    <div class="sf__accordion-content text-color-secondary">
                      <div class="pb-8 prose" style="color: #000;">
                        {% render 'categories',term:'Sale' %}
                      </div>
                    </div>
                  </div>
                    <div
                    class="mw_cus_hide_services sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}> <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4 cus_fonts_source" style="font-weight:600; font-size: 17px;">
                    <span class="link1"><a href="https://cloud9linens.com/pages/estate-signature">Services</a></span> 
                    </div>
                    <div class="sf__accordion-content text-color-secondary">
                      <div class="pb-8 prose" style="color: #000;">

                        <div class="flex" style="flex-direction: column;">
                          <div>
                            <div class="flex items-center cus-picture-container cus-picture-container-center">
                              <a href="/pages/estate-signature">
                                <p class="cus-mega-menu-pic-txt cus_service_mg">Estate signature</p>
                              </a>
                            </div>
                          </div>
                          <div>
                            <div class="flex items-center cus-picture-container cus-picture-container-center">
                              <a href="/pages/hospitality">
                                <p class="cus-mega-menu-pic-txt cus_service_mg">Branding partner</p>
                              </a>
                            </div>
                          </div>
                          <div>
                            <div class="flex items-center cus-picture-container cus-picture-container-center">
                              <a href="/pages/wholesale-program">
                                <p class="cus-mega-menu-pic-txt cus_service_mg">Wholesale program</p>
                              </a>
                            </div>
                          </div>
                          <div>
                            <div class="flex items-center cus-picture-container cus-picture-container-center">
                              <a href="/pages/business-development">
                                <p class="cus-mega-menu-pic-txt cus_service_mg">Business development
                                </p>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </section>

          </div>

        </div>

        {% render 'mega-menu-customer', section: section %}
      </div>
    </div>
  </div>
</div>