{% assign menu = mobile_menu %}
{% if mobile_menu == blank %}
  {% assign menu = main_menu %}
{% endif %}

<div
  style="--tw-bg-opacity: 0;"
  id="mySidenav"
  class="cus-mob-mega-menu sf-menu-wrapper sf-menu-wrapper-mobile hidden fixed z-[80] inset-0 transition-colors duration-300">

  <div class="sf-menu__content transition-transform -translate-x-full duration-300 md:w-[450px] z-50 bg-white text-black overflow-x-hidden h-full overflow-y-scroll">

    <div class="flex flex-col">
      <div class="sf-menu-content flex-grow flex flex-col justify-between transition-all opacity-0 opacity-100 duration-300">

        <div>

          {% comment %} <div class="cus-mega-menu-header">
          <img src="https://cdn.shopify.com/s/files/1/0611/3781/3724/files/cloud9-logo2-white.svg?v=1650627887">
          </div> {% endcomment %}

          <div class="w-full sf-menu-links cus-mob-menu-links">

            <section
              class="sf-collapsible cus-account-tabs-section{% if template == 'product' %} sf-product__section{% endif %}"
              data-section-type="sf-collapsible"
              data-section-id="{{ section.id }}">
              <div class="{{ st.container }}">
                <div class="prod__accordion mw_mob_menu">

                  <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4b cus_fonts_source" style="font-weight:600; font-size: 17px;">
                      <span class="link1"><a href="https://cloud9linens.com/pages/bedlinens">Bedlinens</a></span>
                    </div>
                    <div class="sf__accordion-content text-color-secondary">

                      {% comment %} <img src="https://cdn.shopify.com/s/files/1/0611/3781/3724/files/unnamed_1.jpg?v=1640266925" /> {% endcomment %}
                      {% comment %} <p class="cus-mega-menu-subtitle">Fine design with creasp styles</p> {% endcomment %}

                      <div class="pb-8 prose" style="color: #000;">

                        {% comment %} <p style="padding: 10px 4px; letter-spacing: 2px; color: #000">BEDLINENS</p> {% endcomment %}

                        <div class="flex" style="flex-direction: column; align-items:flex-start;">
                          <a href="/collections/top-sheet-sets" class="block px-4 py-3 ">Top sheet set</a>
                          <a href="/collections/duvet-cover-sets" class="block px-4 py-3 ">Duvet cover set</a>
                          <a href="/collections/bedspread-set" class="block px-4 py-3 ">Bedspread set</a>
                          <a href="/collections/quilt-set-1" class="block px-4 py-3 ">Quilt set</a>
                          <a href="/collections/fitted-sheet-sets" class="block px-4 py-3 ">Fitted sheet set</a>
                          <a href="/collections/pillow-cases" class="block px-4 py-3 ">Pillow Cases</a>
                          <a href="/collections/euroshams" class="block px-4 py-3 ">Euro shams</a>
                          <a href="/collections/top-sheets" class="block px-4 py-3 ">Top sheets</a>
                          <a href="/collections/duvet-covers-1" class="block px-4 py-3 ">Duvet covers</a>
                          <a href="/collections/bedspread" class="block px-4 py-3 ">Bedspreads</a>
                          <a href="/collections/quilts" class="block px-4 py-3 ">Quilts</a>
                          <a href="/collections/fitted-sheets" class="block px-4 py-3 ">Fitted sheet</a>
                          <a href="/collections/decortaive" class="block px-4 py-3 ">Decortaive</a>
                        </div>

                      </div>
                    </div>
                  </div>
				  
             <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4b cus_fonts_source" style="font-weight:600; font-size: 17px;">
                      <span class="link1"><a href="https://cloud9linens.com/pages/bathlinens">BATHLINENS</a></span>
                    </div>
                    <div class="sf__accordion-content text-color-secondary">

                      {% comment %} <img src="https://cdn.shopify.com/s/files/1/0611/3781/3724/files/unnamed_1.jpg?v=1640266925" /> {% endcomment %}
                      {% comment %} <p class="cus-mega-menu-subtitle">Fine design with creasp styles</p> {% endcomment %}

                      <div class="pb-8 prose" style="color: #000;">

                        {% comment %} <p style="padding: 10px 4px; letter-spacing: 2px; color: #000">BATHLINENS</p> {% endcomment %}

                        <div class="flex" style="flex-direction: column; align-items:flex-start;">
                          <a href="/collections/towel-set" class="block px-4 py-3 ">Towel set</a>
                          <a href="/collections/towels" class="block px-4 py-3 ">Towels</a>
                          <a href="/collections/bath-robes" class="block px-4 py-3 ">Bath robes</a>
                         
                          <a href="/collections/mats" class="block px-4 py-3 ">Bathmats</a>
                        </div>

                      </div>
                    </div>
                  </div>
				  
				  
				 
                  <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4 cus_fonts_source" style="font-weight:600; font-size: 17px;">
                      <span class="link1"><a href="https://cloud9linens.com/pages/bedroom-essentials">Bedroom Essentials</a></span>
                    </div>
                    <div class=" sf__accordion-content text-color-secondary">
                      {% comment %} <img src="https://cdn.shopify.com/s/files/1/0611/3781/3724/files/unnamed_1.jpg?v=1640266925" /> {% endcomment %}
                      {% comment %} <p class="cus-mega-menu-subtitle">Only 100 percent Egyptian Cotton</p> {% endcomment %}
                      <div class="pb-8 prose" style="color: #000;">
                        {% comment %} <p style="padding: 10px 4px; letter-spacing: 2px; color: #000">ESSENTIALS</p> {% endcomment %}
                        <div class="flex" style="flex-direction: column; align-items:flex-start;">

                          <a href="/collections/comforter-sets" class="block px-4 py-3 ">Comforter sets</a>
                          <a href="/collections/Comforters" class="block px-4 py-3 ">Comforters</a>
                          <a href="/collections/pillows" class="block px-4 py-3 ">Pillows</a>
                          <a href="/collections/shams" class="block px-4 py-3 ">Shams</a>
                          <a href="/collections/toppers" class="block px-4 py-3 ">Toppers</a>
                          <a href="/collections/mattresses" class="block px-4 py-3 ">Mattresses</a>
                          <!-- <a href="/collections/protectors" class="block px-4 py-3 ">Protectors</a>-->
                        </div>

                      </div>
                    </div>
                  </div>

                 <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4b cus_fonts_source" style="font-weight:600; font-size: 17px;">
                     <span class="link1"><a href="https://cloud9linens.com/pages/home-deco">Home Deco</a></span>
                    </div>
                    <div class="sf__accordion-content text-color-secondary">

                      {% comment %} <img src="https://cdn.shopify.com/s/files/1/0611/3781/3724/files/unnamed_1.jpg?v=1640266925" /> {% endcomment %}
                      {% comment %} <p class="cus-mega-menu-subtitle">Only 100 percent Egyptian Cotton</p> {% endcomment %}

                      <div class="pb-8 prose" style="color: #000;">

                        {% comment %} <p style="padding: 10px 4px; letter-spacing: 2px; color: #000">INTERIOR</p> {% endcomment %}

                        <div class="flex" style="flex-direction: column; align-items:flex-start;">
                       <a href="/collections/tablecloth-sets" class="block px-4 py-3">Dining linens sets</a>
                            <a href="/collections/tablecloths" class="block px-4 py-3">Tablecloth</a>
                            <a href="/collections/place-mats" class="block px-4 py-3">Placemats</a>
                            <a href="/collections/napkins" class="block px-4 py-3">Table Napkins</a>
                            <a href="/collections/plate-sets" class="block px-4 py-3">Plate sets</a>
                            <a href="/collections/curtains" class="block px-4 py-3">Curtains</a>
                            <a href="/collections/Beds" class="block px-4 py-3">Beds</a>
                        </div>

                      </div>
                    </div>
                  </div>

                 <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4b cus_fonts_source" style="font-weight:600; font-size: 17px;">
                       <span class="link1"><a href="https://cloud9linens.com/pages/lounge-wear">Lounge Wear</a></span>
                    </div>
                    <div class="sf__accordion-content text-color-secondary">

                      {% comment %} <img src="https://cdn.shopify.com/s/files/1/0611/3781/3724/files/unnamed_1.jpg?v=1640266925" /> {% endcomment %}
                      {% comment %} <p class="cus-mega-menu-subtitle">Only 100 percent Egyptian Cotton</p> {% endcomment %}

                      <div class="pb-8 prose" style="color: #000;">

                        {% comment %} <p style="padding: 10px 4px; letter-spacing: 2px; color: #000">LOUNGE</p> {% endcomment %}

                        <div class="flex" style="flex-direction: column; align-items:flex-start;">
                      
                           <a href="/collections/pj-sets" class="block px-4 py-3">Lounge wear sets</a>
                              <a href="/collections/tops" class="block px-4 py-3">Long & Short Sleeves Top</a>
                              <a href="/collections/bottoms" class="block px-4 py-3">Shorts & Pants</a>
                              {% comment %} <a href="/collections/sandels" class="block px-4 py-3">Sandels</a> {% endcomment %}
                              <a href="/collections/lounge-robes" class="block px-4 py-3">Lounge Robes</a>
                              <a href="/collections/bags" class="block px-4 py-3">Leather goods</a>
                              <a href="/collections/footwear" class="block px-4 py-3">Footwear</a>
                        </div>

                      </div>
                    </div>
                  </div>

                   <div
                    class="sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4b cus_fonts_source" style="font-weight:600; font-size: 17px;">
                      <span class="link1"><a href="https://cloud9linens.com/pages/sale">Sale</a></span> 
                    </div>
                    <div class="sf__accordion-content text-color-secondary">

                      {% comment %} <img src="https://cdn.shopify.com/s/files/1/0611/3781/3724/files/unnamed_1.jpg?v=1640266925" /> {% endcomment %}
                      {% comment %} <p class="cus-mega-menu-subtitle">Only 100 percent Egyptian Cotton</p> {% endcomment %}

                      <div class="pb-8 prose" style="color: #000;">

                        {% comment %} <p style="padding: 10px 4px; letter-spacing: 2px; color: #000">FINAL SALE</p> {% endcomment %}

                        <div class="flex" style="flex-direction: column; align-items:flex-start;">
                       <a href="https://cloud9linens.com/collections/sales-collection" class="block px-4 py-3">Final sale</a>
                            <a href="https://cloud9linens.com/collections/seasonal-sale-deals" class="block px-4 py-3">Seasonal Sale Deals</a>
                        </div>

                      </div>
                    </div>
                  </div>
                  {% comment %} Behind the scenes {% endcomment %}
                  {% comment %} End Behind the scenes {% endcomment %}
                    <div
                    class="mw_cus_hide_services sf__accordion-item cus-account-tabs pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}> <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4 cus_fonts_source" style="font-weight:600; font-size: 17px;">
                    <span class="link1"><a href="https://cloud9linens.com/pages/estate-signature">Services</a></span> 
                    </div>
                    <div class="sf__accordion-content text-color-secondary">
                      <div class="pb-8 prose" style="color: #000;">

                        <div class="flex" style="flex-direction: column;">
                          <div>
                            <div class="flex items-center cus-picture-container cus-picture-container-center">
                              <a href="/pages/estate-signature">
                                <p class="cus-mega-menu-pic-txt cus_service_mg">Estate signature</p>
                              </a>
                              {% comment %} <p class="w-1/3 text-center" style="font-size:12px;">Schedule an Zoom appointment</p> {% endcomment %}
                            </div>
                            {% comment %} <a href="/pages/estate-signature" class="block px-4 text-center custom__anc cus_mob_service_content ">Customize And Build Your Order.</a> {% endcomment %}
                          </div>
                          <div>
                            <div class="flex items-center cus-picture-container cus-picture-container-center">
                              <a href="/pages/hospitality">
                                <p class="cus-mega-menu-pic-txt cus_service_mg">Branding partner</p>
                              </a>
                              {% comment %} <p class="w-1/3 text-center" style="font-size:12px;">Schedule an Zoom appointment</p> {% endcomment %}
                            </div>
                            {% comment %} <a href="/pages/branding-partner" class="block px-4 text-center custom__anc cus_mob_service_content">For Boutique Hotel, Resorts, Fully Furnished Projects etc. Contact Our Specialist for textiles & Products Barnding.</a> {% endcomment %}
                          </div>
                          <div>
                            <div class="flex items-center cus-picture-container cus-picture-container-center">
                              <a href="/pages/wholesale-program">
                                <p class="cus-mega-menu-pic-txt cus_service_mg">Wholesale program</p>
                              </a>
                              {% comment %} <p class="w-1/3 text-center" style="font-size:12px;">Schedule an Zoom appointment</p> {% endcomment %}
                            </div>
                            {% comment %} <a href="/pages/wholesale-program" class="block px-4 text-center custom__anc cus_mob_service_content">Win-Win Partnership, Carry Our Luxiorios Products at Competitive Prices. For Your Store or Resale.</a> {% endcomment %}
                          </div>
                          <div>
                            <div class="flex items-center cus-picture-container cus-picture-container-center">
                              <a href="/pages/business-development">
                                <p class="cus-mega-menu-pic-txt cus_service_mg">Business development
                                </p>
                              </a>
                              {% comment %} <p class="w-1/3 text-center" style="font-size:12px;">Schedule an Zoom appointment</p> {% endcomment %}
                            </div>
                            <!--
                            <a href="/pages/business-development" class="block px-4 text-center custom__anc cus_mob_service_content">Shops, Interior Designers, Project Consultans or freelace Influncers Introduce Your Clients to Luxiorious Comfort</a>
                            <div class="flex items-center cus-picture-container cus-picture-container-center">
                            <a href="/pages/behind-the-scences">
                            <p class="cus-mega-menu-pic-txt cus_service_mg">Behind The Scences</p>
                            </a>
                            {% comment %} <p class="w-1/3 text-center" style="font-size:12px;">Schedule an Zoom appointment</p> {% endcomment %}
                            </div>
                            -->
                          </div>



                        </div>

                      </div>
                    </div>
                  </div>



                
                



                  <div
                    class="sf__accordion-item cus-account-tabs cus-mega-menu-story pt-2{% if block.settings.open %} open{% endif %}"
                    data-index="{{ forloop.index0 }}"
                    style="--content-max-height: {% if block.settings.open %}100%{% else %}0px{% endif %};"
                    {{ block.shopify_attributes }}>
                    <div class="sf__accordion-button lg:text-[18px] pb-2.5 pr-4 cus_fonts_source" style="font-weight:600; font-size: 17px;">
                      <span class="link1"><a href="https://cloud9linens.com/pages/about-us-our-story">Story</a></span>
                    </div>
                    <div class="sf__accordion-content text-color-secondary" style="max-width: 100%;">
                      <div class="pb-8 prose" style="color: #000;">

                        <div class="flex">
                          {% comment %} <div class="flex items-center cus-picture-container w-1/3"></div> {% endcomment %}

                          {% comment %} <img width="40%" src="https://cdn.shopify.com/s/files/1/0602/8673/0497/files/Phone-sale-servies-ourstory1.jpg?v=1671444738" /> {% endcomment %}

                          <div width="60%" class="cus-mega-menu-story-content px-3 w-2/3">
                            {% comment %} <h2 style="font-size: 16px;font-weight:600;">HERITAGE</h2> {% endcomment %}

                            <p style="font-size: 14px;">Over the years, from the late '60s
                              to the late '70s, Mida Florence
                              International Crafts Fair has granted
                              & recognized our family's work with
                              several certifications of excellence.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            roots with Egyptian heritage &
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            cuture.</p>
                            <a
                              href="https://cloud9linens.com/pages/about-us-our-story"
                              class="block px-4 py-3 text-center"
                              style="padding-bottom:1.5rem; font-size: 6px !important;">Read More</a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </section>

          </div>

        </div>

        {% render 'mega-menu-customer', section: section %}
      </div>
    </div>
  </div>
</div>