{% comment %}class bottom div = md:flex {% endcomment %}
<div class="block" style="position: relative;">
  <div class="aic_banner">
    <img
      src="https://cdn.shopify.com/s/files/1/0602/8673/0497/files/person-fishing-on-the-beach-is-silhouetted-at-sunset.jpg?v=1722249607"
    >
  </div>
  <div class="mob_aic_banner">
    <img
      src="https://cdn.shopify.com/s/files/1/0602/8673/0497/files/person-fishing-on-the-beach-is-silhouetted-at-sunset.jpg?v=1722249607"
    >
  </div>

  <div class="aic_toggle {% if customer %}aic_toggle_logined{% endif %}">
    {% capture html_data %}
       {% if customer %}
         <div class="text-center color-white">
          <span class="color-white f-12" style="font-family:Source Code Pro!important;">MY CL</span>
          <h1 class="color-white f-38">Welcome Back, {{ customer.first_name }} <a href="/account/logout" class="log_drop_v2 p-text " tabsAnkr>
        {{ 'customer.account.log_out' | t }}
    </a></h1>
            <br />
          <div class="my-custom-font-size prose rte mt-4 text-color-subtext cus_para color-white h4">
            All of your favorites styles in one place. With this list, you can keep track of saved items whenever you
            are.
          </div>
        </div>
         <button class="aic-toggle-button cus_fonts_source  mob_fs_14 c-font aic-toggle-button_custom" id="aic-toggle-btn">Overview</button>
    <div class="aic-content" id="aic-toggle-content" style="display: none;">
      {% render 'customer-navs' %}
     </div>
         {% else %}
          <div class="aic_banner_txt">
      <h4 class="custom-didot mob_fs_14 c-h1">Welcome Back,</h4>
      <h4 class="custom-didot mob_fs_14 c-h1">{{ customer.first_name }}</h4>
    </div>

    <button class="aic-toggle-button cus_fonts_source  mob_fs_14 c-font aic-toggle-button_custom" id="aic-toggle-btn">Overview</button>
    <div class="aic-content" id="aic-toggle-content" style="display: none;">
      {% render 'customer-navs' %}
    </div>
         {% endif %}
  {% endcapture %}
    {% if request.path contains 'pages/wishlist' %}
      {% if customer %}
        {% if html_data != blank and html_data != 'null' %}{{ html_data }}{% endif %}
      {% else %}
        <div class="text-center color-white">
          <span class="color-white f-12" style="font-family:Source Code Pro!important;">MY CL</span>
          <h1 class="color-white f-30"><strong>Wishlist</strong>{% unless customer %}, <a href="/account/login" class="sf__btn-link  " style="font-size:14px;font-family:Source Code Pro!important;"> Sign In </a>{% endunless %}</h1>
          <br>
          <div class="my-custom-font-size prose rte mt-4 text-color-subtext cus_para color-white h4">
            All of your favorites styles in one place. With this list, you can keep track of saved items whenever you
            are.
          </div>
        </div>
        
      {% endif %}

    {% elsif html_data != 'null' %}
      {{ html_data }} 
    {% endif %}
  </div>

  <script>
    if (window.innerWidth < 768) {
      if(document.querySelector('.aic-content'))document.querySelector('.aic_toggle').append(document.querySelector('.aic-content'));
    }
  </script>
</div>

{% comment %}
  <div class="tab_dropdown">
    <div tabData="addresses" class="select_tab_acc" style="display: none">
      {% render 'address_tab' %}
    </div>
    <div tabData="profile" class="select_tab_acc" style="display: none">
      {% render 'profile_tab' %}
    </div>
    <div tabData="wishlist" class="select_tab_acc" style="display: none">
      {% render 'wishlist_tab' %}
    </div>
    <div tabData="orders_&_returns" class="select_tab_acc" style="display: none">
      {%- section 'main-order' -%}
    </div>
    <div tabData="payments" class="select_tab_acc" style="display: none">

    </div>
  </div>
{% endcomment %}
