<div class="cus_slider_mhead cus_gradi_sec_head-{{section.id}}">
  <h1 class="s_heading">
    <div class="nav-bread">
      {{ collection.title }}
      <span>/</span>
    </div>
    {%- for filter in collection.filters -%}
      {%- for value in filter.active_values -%}
        {% if filter.label == 'Tags' %}
          {% assign current_tag = value.label %}
        {% endif %}
      {%- endfor -%}
    {%- endfor -%}
    {% if current_tag != blank %}
      {{ current_tag }}
    {% else %}
      {{ collection.title }} Shop All
    {% endif %}
  </h1>
</div>
<div class="custom-paragraph-font cus_slider_mpara cus_gradi_para-{{section.id}}">
  {% comment %} <p>{{ collection.description }}</p> {% endcomment %}
</div>

<div class="sub-categories">
  {% render 'categories', term: collection.title %}
  {% unless collection.title == 'Bathlinens' %}
    {% comment %} <div class="view-all">View All</div> {% endcomment %}
  {% endunless %}
  {% comment %}
    <div style="flex:1;    min-width: 100%;">
      <a href="{{ collection.url }}">Shop All</a>
    </div>
  {% endcomment %}
</div>
<script>
  function subCategories() {
    let selected_item = new URLSearchParams(window.location.search).get('filter.p.m.custom.tags');
    Array.from(document.querySelectorAll('.sub-categories .flex>a')).forEach((item) => {
      if (item.textContent != 'Shop All') {
        item.setAttribute(
          'href',
          `${window.location.pathname}?filter.p.m.custom.tags=${item.textContent.trim().replaceAll(/\s+/gi, '+')}`
        );
        if (selected_item == item.textContent.trim()) {
          item.classList.add('active');
        }
      } else {
        if (!new URLSearchParams(location.search).get('filter.p.m.custom.tags')) item.classList.add('active');
      }
      item.addEventListener('click', () => {
        item.classList.add('active');
      });
    });

    let vaEl = document.querySelector('.sub-categories .view-all');
    if (vaEl) {
      vaEl.addEventListener('click', () => {
        if (vaEl.closest('.sub-categories').classList.contains('active')) {
          vaEl.closest('.sub-categories').classList.remove('active');
        } else {
          vaEl.closest('.sub-categories').classList.add('active');
        }
      });
    }
  }
  subCategories();
</script>
<style>
  .flex .cus_menu_align .sf-menu-item .block {
    color: #041e3a;
  }
  nav.breadcrumbs {
    opacity: 0;
    background: white;
  }
  main#MainContent {
    max-width: 90vw;
    margin: 0 auto;
  }
  .nav-bread span {
    padding: 0 5px;
  }
  .view-all {
    cursor: pointer;
  }
  .nav-bread {
    font-size: 0.6875rem;
    line-height: 1.27273em;
    letter-spacing: 0.611px;
  }
  .cus_slider_heading,
  h1.s_heading {
    color: #041e3a;
    text-align: left;
  }
  .sub-categories {
    flex-wrap: wrap;
    padding: 20px 0 0px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .sub-categories > div .after-6 {
    display: none;
  }
  .sub-categories.active > div .after-6 {
    display: inline;
  }
  .sub-categories > div {
    display: flex;
    flex-direction: row !important;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
  }

  .sub-categories > div a:hover {
  }
  .sub-categories > div a {
    padding: 0;
    border: 1px solid #041e3a;
    border-color: #041e3a;
    background-color: #fff;
    color: #041e3a;
    font-size: 0.8125rem;
    border-radius: 2em;
    padding: 0.625rem 1.625rem;
  }
  .sub-categories > div a.active {
    background: #041e3a;
    color: white;
  }

  @media (max-width: 768px) {
    .cus_side_mg {
      margin: 0 0px !important;
    }
    h1.s_heading {
      padding: 30px 0 10px;
      font-size: 34px;
    }

    .sub-categories > div:last-child {
      min-width: unset;
      flex: auto;
    }
    .cus_slider_heading {
      padding: 44px 20px 0;
    }
    .sub-categories {
      padding: 20px 0 40px;
    }
  }

{% comment %} Filter {% endcomment %}
  .sf__sidebar-content.mw_fixed {
    max-height: 100vh;
}

.sf__collection-container.sidebar__fixed .sf__sidebar .sf__sidebar-content .sf__sidebar-wrapper {
    max-height: calc(100vh - 66px);
    overflow: auto;
}

.sf__sidebar-content.mw_fixed>*:first-child {
    display: block !important;
}

.sf__filter-wrapper .sf__accordion-item {
  margin-bottom: 10px;
}

.sf__accordion-item .sf__accordion-button:after {
    height: 15px;
    width: 15px !important;!i;!;
    background-size: 15px 15px !important;
    top: 5px;
    right: 5px;
}

.sf__collection-container.sidebar__fixed .sf__sidebar .sf__sidebar-content .sf__sidebar-wrapper {
    padding-right: 1.25rem;
}
div#sf-filter-by {
  padding-top: 0px;
}
</style>
