{%- capture page_title -%}
    {{ 'cart.general.title' | t }}
{%- endcapture -%}

{% comment %}
  <div class="flex md:hidden mob_shopping" style="margin-top: 52px !important;">
    <h2 class="h2"><strong>Shopping Bag</strong></h2>
  </div>
  <hr class="hrstyle4">
  <div class="flex md:hidden mob-container-wrapper">
    <div class="shipping_message">
      <div class="shipping_inn_mess">
        <h4 class="custom-didot">Free Shipping with CL Account</h4>
        <p class="fonts_source">
          <a href="/account/login">Sign in</a> or <a href="/account/login#register_from">Create account</a> for
          complementary shipping on your order
        </p>
      </div>
    </div>
  </div>
{% endcomment %}

<div class="mw_custom_hedaer " style="padding: 0 !important;">
  <div style="padding: 2px 0px;" class="-mx-4 scd__wrapper sf-cart pb-20" data-cart-wrapper>
    {% if cart.item_count > 0 %}
      {% render 'foxkit-cart-countdown' %}
      {% render 'foxkit-cart-goal' %}

      <form
        action="{{ routes.cart_url }}"
        method="post"
        novalidate
        class="checkout-form asdasd sf-cart__form scd__content"
      >
        <div class="flex res-cart-form">
          <div class="sf-cart__table w-full">
            <div
              class="container-fluid res-cart-container hidden md:block"
              style="margin-top: 100px; padding: 0 !important;"
            >
              <div class="res-cart-hidden">
                <h2><strong>Shopping Bag</strong></h2>
              </div>
              <hr class="hrstyle2 res-cart-hidden">
            </div>
            <div class="shipping_message">
              <h4 class="custom-didot h3 " style="margin-bottom:15px;">
                <strong>Free Shipping with CL Account</strong>
              </h4>
              <p class="fonts_source p-text-normal">
                <a href="/account/login" class="underline"><strong>Sign in</strong></a> or
                <a class="underline" href="/account/login#register_from"><strong>Create account</strong></a> for
                tracking orders, your favorite items wishlist back in stock & more
              </p>
            </div>
            <div class="sf-cart__table-body scd__body">
              {%- if cart.items.size > 0 -%}
                <div class="scd__items">
                  {% for item in cart.items %}
                    {% render 'cart-line-item', item: item %}
                  {% endfor %}
                </div>
              {%- else -%}
                {% render 'cart-empty-message' %}
              {%- endif -%}
            </div>
          </div>
          <div class="ship_img_desk">
            <img src="https://cdn.shopify.com/s/files/1/0602/8673/0497/files/shcc.png?v=1692272711" alt="no pic">
          </div>
          <div
            class="res-cart-summary-sec"
            style="padding: 20px 0px 30px 0px; height: fit-content; margin: 0 auto;"
          >
            <div class="sf-cart__summary relative res-cart-summary">
              {% comment %}
                <div class="flex md:hidden" style="justify-content: space-between; padding-bottom: 1rem; font-size: 14px!important; font-family: Minionpro!important;">
                  <p>{{ cart.item_count }} Items</p>
                  <span class="sf-cart-subtotal__price font-medium" style="" data-cart-subtotal-price>{{ cart.total_price | money }}</span>
                </div>
              {% endcomment %}

              <div class="shi_order order-summary-title">
                <h4 class="custom-pt-sans bolded">ORDER SUMMARY</h4>
              </div>

              {%- assign cart_discounts = 'template ' | split: ' ' -%}
              {%- if cart.cart_level_discount_applications.size > 0 -%}
                {%- assign cart_discounts = cart.cart_level_discount_applications -%}
              {%- endif -%}
              <div class="scd__summary" data-cart-summary>
                <div
                  class="scd-item__discounts sf-cart__item-discounts {% if cart.cart_level_discount_applications.size == 0 %}hidden{% endif %}"
                  data-discounts-wrapper
                >
                  <div class="sf-cart__summary-row text-right">
                    <span class="visually-hidden">{{ 'customer.order.discounts' | t }}</span>
                    <div data-discounts>
                      <ul class="scd-item__discounts-list" data-discounts-list>
                        {%- for discount_application in cart_discounts -%}
                          {% if discount_application.total_allocated_amount != blank %}
                            <li class="scd-item__discounts-item">
                              {% render 'icon', name: 'discount' %}
                              <span data-cart-discount-title>
                                {{- discount_application.title -}}
                                &nbsp;(-<span data-cart-discount-amount>
                                  {{- discount_application.total_allocated_amount | money -}}</span
                                >)</span
                              >
                            </li>
                          {% endif %}
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="sf-cart__summary-row sf-cart-subtotal" data-cart-subtotal>
                  <span class="sf-cart-subtotal__title fonts_source mob_fs_10"
                    ><strong>{{ 'cart.general.subtotal' | t }}</strong></span
                  >
                  <span class="sf-cart-subtotal__price font-medium fonts_source mob_fs_10" data-cart-subtotal-price>
                    {{- cart.total_price | money -}}
                  </span>
                </div>

                <div class="sf-cart__summary-row sf-cart-subtotal" data-cart-subtotal>
                  <span class="sf-cart-subtotal__title fonts_source mob_fs_10"><strong>Shipping</strong></span>
                  <span class="sf-cart-subtotal__price font-medium fonts_source mob_fs_10" data-cart-subtotal-price
                    >$0</span
                  >
                </div>
                <p class="p-text-normal">Taxes calculated at checkout</p>
                <div class="sf-cart__summary-row sf-cart-subtotal" data-cart-subtotal>
                  <span class="sf-cart-subtotal__title fonts_source mob_fs_10"><strong>Tax</strong></span>
                  <span class="sf-cart-subtotal__price font-medium fonts_source mob_fs_10" data-cart-subtotal-price
                    >$0</span
                  >
                </div>
                <p class="p-text-normal">Shipping estimated at checkout</p>
                <br>
                {% comment %}
                  <div class="sf-cart__summary-row sf-cart-subtotal" data-cart-subtotal>
                    <span class="sf-cart-subtotal__title fonts_source mob_fs_10">Order Discount</span>
                    <span class="sf-cart-subtotal__price font-medium fonts_source mob_fs_10" data-cart-subtotal-price
                      >$20</span
                    >
                  </div>
                {% endcomment %}
                <div class="ship_promo">
                  {% render 'cart-addons' %}
                </div>
              </div>

              {%- capture taxes_shipping_checkout -%}
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            {%- endcapture -%}
              <div style="padding: 0px 20px;" class="hidden md:block sf-cart__shipping note" data-shipping-note>
                {{ taxes_shipping_checkout }}
              </div>
              <div class="sf-cart__buttons-container mt-5">
                {% assign show_terms = false %}
                {% comment %}
                  {% if settings.agree_text != blank and settings.show_agree_on_cart %}
                    {% render 'agree-terms-checkbox' %}
                    {% assign show_terms = true %}
                  {% endif %}
                {% endcomment %}
                <div
                  class="sf-cart__submit-controls{% if show_terms %} mt-3{% endif %}"
                >
                  <button
                    style="font-size: 16px; font-weight: 400; border-radius: 0px; text-transform:uppercase;"
                    type="submit"
                    name="checkout"
                    class="w-full cart__submit sf__btn sf__btn-primary"
                  >
                    PROCEED TO CheckOut
                    {% comment %} {{ 'cart.general.checkout' | t | upcase }}{% endcomment %}
                  </button>
                </div>
                {%- if additional_checkout_buttons -%}
                  <div class="additional-checkout-buttons w-full">{{ content_for_additional_checkout_buttons }}</div>
                {%- endif -%}
              </div>
              {% if settings.cart_drawer_trust_badge %}
                <div class="scd__trust-badge mt-3">
                  <img
                    src="{{ settings.cart_drawer_trust_badge | img_url: '1000x' }}"
                    alt="Trust secure badge"
                    loading="lazy"
                    width="1000"
                    height="200"
                  >
                </div>
              {% endif %}
              <div class="scd__overlay inset-0"></div>
            </div>
          </div>
        </div>
        {% comment %}
          <div class="ship_gift">
            <h4 class="custom-didot">Gift options</h4>
            <hr class="hrstyle2">
            <h4 class="custom-didot">Fund Donations</h4>
            <hr class="hrstyle2">
          </div>
        {% endcomment %}
      </form>
      <br>
      <br>
      <br>
      <br>

    {%- else -%}
      <div class="cus-empty-cart-txt">
        <h3>Your Shopping Chart is Empty</h3>
      </div>
    {% endif %}
  </div>
</div>
<style>
  .scd__addon .form-control {
    margin-top: 0.25rem;
    padding: 10px 16px;
  }
  .scd-item__image2 {
    width: 160px;
  }
  .recenly_cart_pdp {
    gap: 0px;
  }
  .res-cart-form,
  .res-cart-form p,
  .scd__footer-actions button,
  .sf-cart__summary .note,
  .sf-cart__summary .note a,
  .scd-item__remove,
  .scd-item__remove .mob_fs_8,
  .scd-item__info > a,
  .recently_remove span,
  .ship_promo span,
  .scd__wrapper .res-cart-summary-sec .sf-cart__summary-row span,
  .p-text-normal a {
    font-size: 12px !important;
  }
  .sf-cart .scd__footer-actions {
    margin-bottom: 0px;
  }
  .line-item-tools {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  .cls_icon svg,
  .cls_icon {
    width: 18px;
    height: 18px;
    position: relative;
    top: 0;
    left: 0;
  }
  .line-item-tools button.added-to-wishlist {
    background: transparent;
  }
  .sf__tooltip-item.sf__btn-icon {
    color: #061e3a;
  }
  .ship_promo span,
  .res-cart-form p,
  .sf-cart__summary .note,
  .agree-terms,
  .agree-terms a {
    font-size: 10px !important;
  }
  .res-cart-form p {
    text-transform: capitalize;
  }
  .scd__overlay.open {
    visibility: hidden;
  }
  .scd__footer-actions button {
    padding-left: 20px;
  }
  .agree-terms label,
  .scd__footer-actions button {
    align-items: flex-start;
    align-items: flex-start;
  }
  .agree-terms * {
    font-size: 10px !important;
    letter-spacing: normal;
    font-family: Source Code Pro !important;
  }
  .sf-cart__table.w-full {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .scd__addon .form-control {
    padding: 10px 16px 10px;
  }
  .scd-item__info > a {
    font-size: 18px !important;
    font-weight: 700;
  }
  .res-cart-summary-sec {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    margin: 132px 0 0 auto !important;
  }
  .res-cart-summary {
    background-color: #f8f8f8 !important;
  }
  .scd-item__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .scd-item__quantity {
    background-color: #061e3a;
    color: white !important;
    border-radius: 22px;
    font-size: 12px !important;
  }
  .color_white {
    color: white !important;
  }
  .recently_remove {
    top: 0 !important
;
  }
  .sf-cart__summary {
    width: 400px;
    padding: 0rem 0rem 0;
    margin: 0 0rem 0 auto;
  }

  .order-summary-title {
    padding: 20px;
    background: #f0eeed !important;
  }
  .scd__summary {
    padding: 20px;
  }
  .sf-cart__buttons-container {
    padding: 0 20px 20px;
  }
  @media (max-width: 768px) {
    .res-cart-form {
      flex-direction: column;
    }
    .shipping_message h4 {
      padding-bottom: 0px !important;
    }

    .shi_qty {
      padding-top: 0 !important;
    }
    .sf-cart__table.w-full {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .ship_img_desk {
      display: none;
    }

    .res-cart-summary-sec {
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 20px !important;
    }

    .shipping_message {
      width: 100%;
    }

    .scd-item__image2 {
      width: 120px;
    }

    .ship_cart_pdp {
      padding-top: 0;
    }

    .recently_remove button {
      margin-top: 0rem;
    }

    .sf-cart__summary {
      width: 100%;
      max-width: 100%;
    }
  }
</style>
