{% layout none %}

<div
  type="page-metafields"
  {% for v in product.variants %}
    data-v-{{ v.id }}="{{ v.available }}"
  {% endfor %}

  data-include-collection="{{ product.metafields.custom.collection_include.value }}"
  data-first-available-variant="{{ product.first_available_variant.id }}"

  {%- liquid
    # assign values = product.metafields['shopify--discovery--product_search_boost'].related_products.value
    #assign values = product.metafields.custom.related.value
  %}
  {% comment %} {% for v in values %}
    {% if v.featured_image != blank %}
      data-handle-{{ v.handle|replace:'-','_' }}="{{ v.featured_image.src|image_url:width:'500px' }}"
    {% endif %}
  {% endfor %} {% endcomment %}
  {%  assign color_values = product.metafields.shopify['color-pattern'].value %}
  {% for v in color_values %}
    data-color-{{ v.color}}="{{ v.label }}"
{% endfor %}

{%  assign r = product.metafields['shopify--discovery--product_recommendation'].related_products.value %}
{% for v in r %}
  {% if v.featured_image != blank %}
  data-handle-{{ v.handle|replace:'-','_' }}="{{ v.featured_image.src|image_url:width:'500px' }}"
  {% endif %}
{% endfor %}
>

  {{ |json }}
</div>
